<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="changeWord()">Only show {{ typeNum }} numbers
      </button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{
              backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let odd of oddNum">
            {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
          class="list-group-item"
          [ngClass]="{odd: even % 2 !== 0}"
          [ngStyle]="{
            backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'
          }"
          *ngFor="let even of evenNum">
          {{ even }}
        </li>
        </div>
        
      </ul>
      <p appBasicHighLight>
        Style this with my directive : BasicHighLight!
      </p>
      <p appBetterHighlight>
        Style this with my directive : BetterHighLight!
      </p>
      <!-- <ng-template [ngIf]="!onlyOdd">
        <p>Only Even</p>
      </ng-template> -->
    </div>
  </div>
</div>
